* {
    background-color: RGB(218, 239, 179);
}

@media (orientation: portrait){
    .display {
        overflow: auto;
        height: 505px;
    }
}

@media (orientation: landscape){
    .display {
        overflow: auto;
        height: 105px;
    }
}
