* {
    background-color: RGB(141, 179, 139);
}

@media (orientation: portrait){
    .display {
        overflow: auto;
        height: 523px;
    }
}

@media (orientation: landscape){
    .display {
        overflow: auto;
        height: 105px;
    }
}
