
html, body { height: 100%; }
body {
    margin: 20;
    padding: 20;
    align-items: center;
    margin:auto;
    padding:auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: RGB(238, 244, 212);
    height: auto;
    color: RGB(28, 40, 38)
}

@media (orientation: portrait){
    body {
        width: 375px;
    }
}

@media (orientation: landscape){
    body {
        width: 812px;
    }
}
